[personalisation]
personalisation.desktop=1
cpprofiles.desktop=2
cpdatetime.desktop=3
cplanguageregional.desktop=4
cpdisplay.desktop=5
cpnotificationlight.desktop=6
cptextinput.desktop=7

[connectivity]
osso-maesync-ui.desktop=1
libasconfigapplet.desktop=2
osso-connectivity-ui-btsettings.desktop=3
location-cp.desktop=4
sharing-accounts.desktop=5
rtcom-accounts-ui.desktop=6
osso-connectivity-ui-iapsettings.desktop=7
connui-cellular-settings.desktop=8
cpfmtx.desktop=9
maemosec_certman_applet.desktop=10

[general]
cpdevicelock.desktop=1
cpmemory.desktop=2
cptvout.desktop=3
tscalibrate.desktop=4
cpdevice.desktop=5

